img {
	width: 220px;
	height: 180px;
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1:hover {
	color: green;

}

h1{

	margin-left: 1.66%;
	border-bottom: 4px dashed rgba(10,60,180,.6);
	width: 23.5%;
	padding-bottom: 20px;
	padding-right: 100px;
}

body{
	margin-top: 50px;
	background-image: url(https://freefrontend.com/assets/img/css-background-patterns/svg-and-css-squiggly-pattern.png);
	/*opacity: 0.6;*/ 
	/*background-repeat: no-repeat;
	background-size: cover;*/
}


